.text-white {
	color: #fff !important;
}
/* ! Admin Dashboard ! */
body.admin {
	font-size: 14px;
	line-height: 24px;
}

.admin h1,
.admin h2,
.admin h3,
.admin h4,
.admin h5,
.admin h6 {
	font-weight: 400;
}

.admin h4 .pull-right .theme_button {
	position: relative;
	bottom: 10px;
}

.admin h4 + hr {
	clear: both;
}

.admin .breadcrumb {
	font-size: 14px;
	font-weight: 300;
	text-transform: none;
	letter-spacing: 0;
}

.admin input[type='text'],
.admin input[type='email'],
.admin input[type='url'],
.admin input[type='password'],
.admin input[type='search'],
.admin input[type='tel'],
.admin input[type='number'],
.admin textarea,
.admin select,
.admin .form-control {
	height: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: inherit;
	padding-left: 20px;
	padding-right: 20px;
}

.admin select[multiple],
.admin textarea.form-control,
.admin textarea {
	height: auto;
}

.admin option {
	background-color: transparent;
}

.admin input[type='checkbox'],
.admin input[type='radio'] {
	margin-top: 3px;
}

.admin .form-control::-moz-placeholder {
	font-style: normal;
	text-transform: none;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0;
	opacity: 0.6;
}

.admin .form-control:-ms-input-placeholder {
	font-style: normal;
	text-transform: none;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0;
	opacity: 0.6;
}

.admin .form-control::-webkit-input-placeholder {
	font-style: normal;
	text-transform: none;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0;
	opacity: 0.6;
}

.admin form label + [class*='icon2-'],
.admin form label + [class*='fa-'] {
	top: 12px;
}

.admin .widget_search form .theme_button {
	width: 40px;
	height: 40px;
}

.admin .form-inline-button .form-inline [type='submit'],
.admin .form-inline-button .form-inline .theme_button {
	padding-left: 12px;
	padding-right: 12px;
}

.admin .btn,
.admin .theme_button {
	letter-spacing: 0.1em;
	padding: 10px 15px;
}

.admin .theme_button {
	padding-top: 12px;
	padding-bottom: 12px;
}

.admin .with_padding {
	padding: 30px;
}

.admin table {
	margin: 0;
}

.admin th {
	background-color: #f2f2f2;
	border: none;
	font-weight: 700;
	padding: 20px 10px 18px;
	text-transform: uppercase;
}

.admin .table > tbody > tr > td,
.admin .table > tbody > tr > th,
.admin .table > tfoot > tr > td,
.admin .table > tfoot > tr > th,
.admin .table > thead > tr > td,
.admin .table > thead > tr > th {
	vertical-align: middle;
}

.admin .pagination > li > a,
.admin .pagination > li > span {
	font-weight: 400;
	padding: 4px 6px;
	margin-left: 2px;
	margin-bottom: 0;
	margin-top: 4px;
	min-width: 28px;
	border-radius: 1px;
}

.admin .flex-row h4 + hr {
	margin-top: 0;
}

.admin .teaser.counter-background-teaser {
	padding: 30px 25px;
}

.admin .teaser .counter-background {
	font-size: 100px;
}

.dashboard-page-title {
	margin: 0;
	padding: 10px 0;
}

.module-title {
	font-size: 20px;
	padding: 14px 30px;
	margin-bottom: 0;
}

.with_padding .module-title {
	margin: -30px -30px 30px;
}

.dashboard-map td {
	vertical-align: middle;
}

.dashboard-map [colspan='6'] {
	padding-top: 8px;
	padding-bottom: 5px;
}

.dashboard-map td:first-child,
.dashboard-map th:first-child {
	padding-left: 30px;
}

.dashboard-map .dropdown {
	display: inline-block;
}

.dashboard-map .dropdown-menu {
	right: 0;
	left: auto;
}

.settings-button {
	display: inline-block;
}

.ls .settings-button {
	border: 1px solid #e5e5e5;
	padding: 4px 7px 2px;
	color: #1f232b;
}

.ls .settings-button:hover {
	color: #face77;
}

.side_header_logo {
	font-size: 20px;
	text-transform: uppercase;
	padding: 18px 30px 19px;
}

.header_darkgrey {
	background-color: #1c1c1c;
}

.header_darkgrey .widget_search .form-control {
	border-color: rgba(255, 255, 255, 0.2);
	height: 40px;
	padding-left: 20px;
	color: #ffffff;
}

.header_darkgrey .widget_search .theme_button {
	height: 40px;
	width: 50px;
}

@media (max-width: 991px) {
	.table-responsive {
		width: 100%;
		margin-bottom: 15px;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
	.table-responsive > .table > tbody > tr > td,
	.table-responsive > .table > tbody > tr > th,
	.table-responsive > .table > tfoot > tr > td,
	.table-responsive > .table > tfoot > tr > th,
	.table-responsive > .table > thead > tr > td,
	.table-responsive > .table > thead > tr > th {
		white-space: nowrap;
	}
}

.admin-product-price input[type='number'] {
	appearance: initial;
	-webkit-appearance: initial;
	-moz-appearance: initial;
}

.admin-product-price input::-webkit-outer-spin-button,
.admin-product-price input::-webkit-inner-spin-button {
	appearance: initial;
	-webkit-appearance: initial;
}

.item-editable {
	position: relative;
}

.item-editable h5 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 14px;
	font-weight: 400;
}

.item-editable h5 small {
	margin-top: 3px;
	float: right;
}

.item-editable h6 {
	font-size: 14px;
	margin: 0.5em 0;
}

.item-editable .item-edit-controls {
	position: absolute;
	top: 5px;
	right: 5px;
	opacity: 0;
	padding: 3px 3px 0;
	background-color: rgba(255, 255, 255, 0.9);
}

.item-editable .item-edit-controls a {
	padding: 0 5px;
}

.item-editable:hover {
	background-color: rgba(100, 100, 100, 0.05);
}

.item-editable:hover .item-edit-controls {
	opacity: 1;
}

.item-editable .media img {
	border-radius: 50%;
}

tr.item-editable .media-left img {
	max-width: 40px;
}

.row.admin-table-filters {
	margin-bottom: 30px;
}

.row.admin-table-filters > [class*='col-'] {
	margin: 0;
}

.dropdown .one-line-text {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.panel-view-all {
	margin: 10px 0 -10px;
}

.filters-form select {
	padding-left: 15px;
	padding-right: 15px;
}

@media (max-width: 1200px) {
	.admin-table-filters .widget_search {
		max-width: 20em;
		margin-top: 15px;
	}
}

.scroll-wrapper > .scroll-content.admin-scroll-panel {
	padding-right: 20px;
}

.scrollbar-macosx.admin-scroll-panel > .scroll-element .scroll-bar {
	opacity: 0.3;
}

@media (min-width: 768px) {
	.admin-scroll-panel {
		height: 300px;
	}
	.admin-table-filters .filters-form {
		display: inline-block;
		margin-left: 10px;
	}
	.admin-table-filters .filters-form label {
		margin: 0 10px;
	}
}

@media (max-width: 767px) {
	.admin-table-filters .filters-form {
		margin-top: 15px;
	}
	.admin-table-filters .filters-form label {
		min-width: 6em;
	}
	.admin-table-filters .filters-form span {
		display: block;
	}
	.admin-table-filters .filters-form select {
		width: auto;
		min-width: 8em;
		display: inline-block;
		margin-bottom: 10px;
	}
}

/* sidebar menu */
.menu-click {
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.menu-click .media {
	text-transform: none;
	letter-spacing: 0;
}

.ds .menu-click > li.active-submenu {
	background-color: #1c1c1c;
}

.user-menu .media-left img {
	border-radius: 50%;
}

.user-menu h4 {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 5px;
}

.user-menu .menu-click .activate_submenu {
	top: 21px;
}

.user-menu .menu-click > li.active-submenu {
	padding-top: 0;
	padding-bottom: 0;
	background-color: transparent;
	border-color: transparent;
}

.user-menu .menu-click > li.active-submenu ul {
	margin-top: 20px;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.user-menu .menu-click ul {
	padding-left: 30px;
	margin-left: -30px;
}

.bs .user-menu .menu-click ul {
	background-color: #2f363c;
}

.page_header_side_sticked.ds .toggle_menu_side {
	background-color: #1c1c1c;
}

.page_header_side_sticked h3 {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	padding: 20px 30px;
}

#toTop {
	font-size: 0;
	right: 20px;
	bottom: 20px;
	background-color: #54be73;
	margin-top: -50px;
	z-index: 98;
	display: block;
	text-align: center;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #ffffff;
	opacity: 0.8;
}

#toTop:after {
	line-height: 40px;
}

.world_map {
	height: 400px;
}

.sparklines-title {
	display: inline-block;
	margin: 10px 15px;
}

.sparklines-title:last-child {
	margin-right: 0;
}

.sparklines-title sup {
	font-size: 12px;
	font-weight: 700;
	opacity: 0.5;
	display: block;
	text-align: left;
}

.sparklines-title .sparklines {
	position: relative;
}

.sparklines-title .sparklines canvas {
	vertical-align: top !important;
}

.sparklines-title .teaser_icon {
	width: 22px;
	height: 22px;
	font-size: 8px;
	position: relative;
	bottom: 3px;
}

.sparklines-title .teaser_icon i:before {
	position: relative;
	bottom: 4px;
}

.jqstooltip {
	height: 22px !important;
	width: auto !important;
	border: none !important;
}

canvas[class*='canvas-chart-line'] {
	min-height: 300px;
}
/* ! Add Product ! */
.addproduct {
	width: 50%;
	margin: 0 auto;
	padding: 30px;
	background-color: #ccc;
	text-align: center;
}
.addproduct input {
	margin-bottom: 30px;
}
input[type='file']::file-selector-button {
	padding: 7px;
	background-color: #ccc;
	color: #000;
	border: none;
	cursor: pointer;
}
/* ! All Products ! */
.text-center {
	text-align: center !important;
}
